.progress-circle__block {
    display: flex;
    flex-direction: column;
}

.progress-circle {
    position: relative;
    margin-bottom: 20px;
    width: 120px;
    height: 120px;
}

.progress-circle__svg {
    transform: rotate(-90deg);
}

.progress-circle__percent {
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 18px;
}

.progress-circle__line {
    stroke-dasharray: 100;
    transition: .5s;
}

.progress-circle__block button{
    width: 120px;
    text-align: center;
}