.button {
    text-align: center;
    border: 0;
    cursor: pointer;
    transition: all 0.5s ease;
    color: var(--white);
    background: var(--black);
    border-radius: 10px;
    display: flex;
    gap: 5px;
    align-items: center;
}

.button:hover {
    transition: all 0.5s ease;
    color: var(--black);
    background: var(--white);
    box-shadow: 16px 15px 19px 1px rgba(190, 194, 247, 0.37);
}

.button:disabled {
    opacity: 0.5;
    cursor: auto;
}

.rounded {
    border-radius: 30px;
}

.sizeS {
    padding: 5px 10px;
}

.sizeM {
    padding: 10px 25px;
}

.sizeL {
    padding: 10px 35px;
}

@media (max-width: 600px) {
    .button {
        width: fit-content;
    }
}
