.main {
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.box {
    width: 100%;
    display: flex;
    gap: 90px;
    flex-wrap: wrap;
}


@media (max-width: 600px) {
    .box {
        gap: 20px;
    }
}