.progress {
    height: 10px;
    border-radius: 4px;
}

.progress__container {
    margin-bottom: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column-reverse;
}

.progress__bar {
    background: #000;
    height: 100%;
    border-radius: 4px;
    transition: .5s;
}

.progress__percent {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 10px;
}

.progress__block button{
    width: 120px;
    text-align: center;
}