.earth{
    position: absolute;
    bottom: -140px;
    right: -120px;
}

.earth canvas{
    width: 300px!important;
    height: 300px !important;
    object-fit: contain !important;
}


@media (max-width: 1680px) {
    .earth canvas{
        width: 600px !important;
    }
}

@media (max-width: 800px) {
    .earth{
        bottom: -100px;
        right: -100px;
    }
    .earth canvas{
        width: 200px !important;
        height: 200px !important;
    }
}