.earth{
    position: absolute;
    bottom: -140px;
    right: -120px;
}

.earth canvas{
    width: 300px!important;
    height: 300px !important;
    object-fit: contain !important;
}


/*@media screen and (max-width: 1680px) {*/
/*    .earth canvas{*/
/*        width: 600px !important;*/
/*    }*/
/*}*/