.kit {
    padding: 50px 50px 50px 0;
    width: 100%;
    height: max-content;
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: start;
    padding: 50px 0 50px 50px;
}

.link {
    color: var(--dark-blue);
    font-size: 18px;
    font-weight: 600;
    transition: all 0.5s ease-in-out;
}

.link:hover {
    color: var(--blue);
    transform: translateX(10px);
    transition: all 0.5s ease-in-out;
}

.descriptions {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.box {
    color: var(--dark-blue);
    background: var(--light-blue);
    padding: 15px;
    border: 1px solid #e0e3e7;
    border-radius: 10px;
    line-height: 30px;
}

.subtitle {
    font-size: 16px;
}

.descriptions ul {
    padding-left: 30px !important;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.descriptions ul li{
    line-height: 24px;
}

.descriptions ul span{
    font-weight: 600;
}