
.error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    background-color: var(--black);
}

.title {
    font-size: 110px;
    line-height: 109%;
    text-align: center;
    margin: 0;
    position: relative;
    z-index: 100;
    text-shadow: 5px 5px var(--blue);
    color: var(--white);
}

.description,
.description a {
    text-align: center;
    margin: 0;
    position: relative;
    z-index: 100;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: var(--grey-white);
    transition: color 0.4s ease;
    font-weight: 600;
}

.description a {
    color: var(--blue);
    transition: color 0.3s ease;
}

.description a:hover {
    color: var(--grey-white);
    transition: color 0.3s ease;
}

.box {
    opacity: 0.6;
}

.parallax {
    overflow: hidden;
    min-height: 100vh;
    position: relative;
}

.layer {
    position: absolute;
    z-index: 10;
    transition: transform 0.2s ease;
}

.transform {
    position: absolute;
    z-index: 10;
    transition: transform 0.3s ease;
    animation: moving 5s infinite linear;
}

.image {
    width: 100%;
    display: block;
    object-fit: cover;
}

.layer3 {
    top: calc(50% - 350px);
    right: 50%;
}

.layer4 {
    left: -90px;
    bottom: -100px;
    z-index: 13;
}

.layer5 {
    right: 50px;
    bottom: -50px;
    z-index: 12;
}

.layer6 {
    right: calc(100% - 500px);
    top: calc(50% - 600px);
    z-index: 12;
}

.layer7 {
    right: 10px;
    bottom: calc(100% - 300px);
    z-index: 12;
}

.transform2 {
    right: 10px;
    bottom: calc(100% - 600px);

}

.transform3 {
    right: calc(100% - 300px);
    top: calc(50% - 100px);

}

.transform1 {
    right: calc(100% - 600px);
    top: calc(50% - 500px);
}

@keyframes moving {
    100% {transform: rotate(-360deg);}
}


@media (max-width: 900px) {
    .layer3 {
       display: none;
    }
}

@media (max-width: 767px) {
    .layer4, .layer5, .layer6, .layer7 {
        display: none;
    }

    .transform1 {
        right: calc(100% - 30%);
        top: calc(50% - 300px);
    }

    .transform2 {
        right: 10px;
        bottom: calc(100% - 80%);

    }

    .transform3 {
        right: calc(100% - 90%);
        top: calc(50% - 500px);

    }

}
